<!--  MENU  -->
<div class="col-lg-3 col-md-3 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            MENU
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary btn-block" ng-click="showNewOccurrence = true">
                Nova Ocorrência
            </button>
        </div>
    </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-12">

    <!--  CRIAR OCORRENCIA  -->
    <div class="panel panel-success" ng-show="showNewOccurrence">
        <div class="panel-heading">
            Criando nova occorência
        </div>
        <div class="panel-body">
            <div class="form-group">
                <textarea id="inputMessage" ng-model="newOccurrenceForm.inputMessage" class="form-control" placeholder="Escreva aqui sua mensagem" required></textarea>
            </div>
            <button class="btn btn-primary" ng-click="createOccurrence()">Criar Ocorrência</button>
        </div>
    </div>

    <div class="alert alert-success alert-dismissible" role="alert" ng-show="showOccurrenceCreationSuccess">Ocorrência criada com sucesso.</div>

    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="showOccurrenceCreationFailure">Ocorreu um erro ao enviar a ocorrência.</div>

    <!-- TIMELINE -->
    <div class="panel panel-default" ng-repeat="occurrence in occurrences">
        <div class="panel-body">
            <div class="col-lg-12">
                <span class="occurrence-author">{{getUser(occurrence.author)}} João Eduardo Galli</span>

                <span class="occurrence-publish-date">{{ (occurrence.timestamp  * -1) | date:'medium' : 'America/Sao_Paulo' }}</span>
                <br/>
                <span class="occurrence-message">
                    {{ occurrence.message }}
                </span>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-show="false">
        <div class="panel-heading">
            Houston, we have a problem.
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <span class="occurrence-author">João Eduardo Galli</span>

                <span class="occurrence-publish-date">23 de Janeiro de 2015 às 10:00</span>
                <br/>
                <span class="occurrence-message">
                                
                                    O que a imprensa bananeira não vai te contar sobre os desdobramentos da crise dos refugiados na Alemanha:<br/>
- Segundo o Bild, o jornal não-asiático mais vendido do mundo, a polícia foi orientada a não reportar ou dar publicidade aos crimes cometidos por refugiados para não deixar que o problema seja "instrumentalizado pela extrema-direita". Você leu corretamente, a polícia alemã está sendo acusada de esconder a vastidão dos crimes há meses por motivação política do governo Merkel. Outras agências de notícias também reportaram a operação-abafa das autoridades policiais da Alemanha.<br/>
- A Alemanha recebeu em 2015 o número recorde de 1,1 milhão de refugiados, o maior contingente na Europa e cinco vezes mais do que o pais recebeu no ano anterior.
- Refugiados estão sendo atraídos por quadrilhas locais para cometer assaltos, traficar drogas, entre outros crimes. O problema é ainda maior do que parece. O jornal diz que alguns refugiados começam a cometer crimes assim que entraram no país.
                                
                                </span>
            </div>
        </div>

        <div class="panel-footer" style="height: 40px">
            <div>
                <div class="col-lg-9">
                    <a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comentários <span class="badge">2</span></a>
                </div>
                <div class="col-lg-3" style="text-align: right;">
                    <a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Acompanhar</a>
                </div>
            </div>
        </div>
        <div style="padding: 10px">
            <textarea class="form-control">Escreva um comentário</textarea>
        </div>
    </div>

    <nav>
        <ul class="pager">
            <li class="previous"><a ng-show="hasNextPage()" ng-click="nextOccurrences()"><span aria-hidden="true">&larr;</span> Antigos</a></li>
            <li class="next"><a ng-show="hasPreviousPage()" ng-click="previousOccurrences()">Novos <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
